name: End-to-end test

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

permissions:
  contents: read

jobs:
  e2e-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Build & run Kerberos server
        run: |
          docker build -t kerberos-server -f ./examples/krb5/Dockerfile.server ./examples/krb5/
          docker run -d -p 88:88 -p 88:88/udp -p 749:749 -p 749:749/udp --name kerberos-server kerberos-server
          echo "127.0.0.1 kerberos.example.com" | sudo tee -a /etc/hosts
      - name: Build & run Apache server
        run: |
          docker build -t apache-server -f ./examples/krb5/Dockerfile.apache ./examples/krb5/
          docker run -d -p 80:80 --name apache-server apache-server
          echo "127.0.0.1 http.example.com" | sudo tee -a /etc/hosts
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: '1.24.x'
          cache: false
      - name: Build xk6 with Kerberos
        run: |
          go install go.k6.io/xk6/cmd/xk6@master
          GOPRIVATE="go.k6.io/k6" xk6 build \
            --output ./k6 \
            --with github.com/grafana/xk6-kerberos=.
      - name: Run k6 test
        env:
          KRB5_CONFIG: krb5/krb5.conf
        run: |
          ./k6 run examples/script.js
          
